<hr>
<h2>Query</h2>

<h3>Archives:</h3>

<b>Selected Cancers:</b>
%cancers%
<br>
<b>Selected Centers:</b>
%centers%
<br>
<b>Selected Platforms:</b>
%platforms%
<br>
<b>Selected Data types:</b>
%dataTypes%

<h3>Samples:</h3>

%samples%

<hr>
<h2>New downloads:</h2>

%new_downloads%

<hr>
<h2>Updated existing files:</h2>

%updates%

<hr>
<h2>Archives selected for imports:</h2>

%imports%

<hr>
<h2>Orphan files (the files which were not assigned to any aliquots/samples):</h2>

%orphans%

<hr>
<h2>Data level inconsistences (list of files for which at least two different data levels were assigned):</h2>

%bad_mage_tab%
