body {
    color: black;
    background: #fff;
    font-family: arial, helvetica, sans-serif;
    margin-left: 80px;
}
body.nav {
    margin-left: 10px;
}

h1.notopmargin {
	margin-top: 0;
}

h1 img {
	position: absolute;
	margin-left: -70px;
	margin-top: 10px;
}

h2 img {
	position: absolute;
	margin-left: -70px;
}

a:hover { background: #ffa; }
a:link { color: #009; }
a:visited { color: #009; }

/* Avoid too long lines */
p, td { max-width: 100ex; }

.name { font-family: monospace; }

td, th { padding-right: 10px; }
/* Table indentation for categories */
td.indent1 { padding-left: 40px; }
td.indent2 { padding-left: 80px; }
td.indent3 { padding-left: 120px; }

/* Table with horizontal and vertical rules */
table.rules {
    border-collapse: collapse;
}
table.rules tr, table.rules td, table.rules th {
    border: solid 1px #999;
}
table.rules td {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Table with different color on odd and even rows */

table.oddeven {
	border-spacing: 0px 2px;
}

table.oddeven th {
	border-bottom: solid 1px #aac;
}

tr.even { background-color: #eef; }

/* Navigation menu */
.nav-item {
    font-variant: small-caps;
}
.nav-fold {
    cursor: pointer;
    min-width: 15px;
    width: 15px;
    display: block;
    float: left;
    text-align: center;
    font-size: medium;
}
.nav-sub-item {
    font-variant: small-caps;
    font-size: smaller;
    margin-left: 20px;
}
/* Search results */
.result-head {
    font-size: smaller;
    font-style: italic;
    vertical-align: middle;
}
.result-item {
    font-size: smaller;
    vertical-align: middle;
}
.result-icon {
    margin-right: 4px;
    width: 30px;
    vertical-align: middle;
}
.result-help {
    font-size: smaller;
    vertical-align: middle;
    border: 1px solid #000;
    padding: 3px 3px 3px 3px;
}

