Select data levels for output. By default <B>all</B> data levels are selected. 
    			The following data levels are accessible:
    			<table>
    				<tr>
    					<td>Code</td><td>Title</td><td>Description</td>
    				</tr>
    				<tr>
    					<td>level1</td><td>Raw</td><td>Low-level data for a single sample, 
    					not normalized across samples, and not interpreted 
    					for the presence or absence of specific molecular abnormalities.</td>
    				</tr>
    				<tr>
    					<td>level2</td><td>Processed</td><td>Data for a single sample that has been 
    					normalized and interpreted for the presence or absence of specific 
    					molecular abnormalities.</td>
    				</tr>
    				<tr>
    					<td>level3</td><td>Segmented/Interpreted</td><td>For genomic copy-number assays, segmented 
    					data is processed data for a single sample that has been further 
    					analyzed to aggregate individual probed loci into larger contiguous regions.</td>
    				</tr>
    				<tr>
    					<td>level4</td><td>Summary Finding (ROI)</td><td>A quantified association, across classes of samples, 
    					among two or more specific molecular abnormalities, sample characteristics, 
    					or clinical variables.</td>
    				</tr>
    				<tr>
    					<td>aux</td><td>Suplementary files</td><td> </td>
    				</tr>
    				<tr>
    					<td>misc</td><td>All other data files</td><td> </td>
    				</tr>
    				<tr>
    					<td>unknown</td><td>Unknown data level</td><td>Should be used for those files for which it was imposible 
    					to detect the datalevel.</td>
    				</tr>
    			</table>