Individual 100 mg - 120 mg section of a sample. Consists of a portion code and an analyte code, 
    			as follows:
    			<ul>
    				<li> Portion code - Two-digit number that identifies the portion. Range is from 01 to as many 
    					as 99 for larger tissue samples. </li>
    				<li> Analyte code - Alphabetic code that represents an analyte type. Analyte codes are as follows:
    					<ul>
    						<li> D - DNA </li>
    						<li> R - RNA </li>
    						<li> T - Total RNA (contains small RNA and is used mainly for mRNA assays) </li>
    						<li> W - Whole Genome Amplified (WGA) DNA produced by Repli-G Qiagen </li>
    						<li> G - WGA DNA produced by Rubicon Genomics using GenomePlex </li>
    						<li> X - Whole Genome Amplified (WGA) DNA produced by Repli-G XQiagen </li>
    					</ul>
    				</li>
    			</ul>
    			For example: The portion ID 33R represents portion 33 with RNA analyte type.