Sample type and sample vial identifier:
    			<ul>
    			<li> Sample type - Two digit number that represents a biospecimen type.
    				<ul>
    				<li> IDs 01 - 09 indicate tumor types:
    					<ol type="1">
    						<li> Primary solid Tumor </li>
    						<li> Recurrent Solid Tumor </li>
    						<li> Primary Blood Derived Cancer </li>
    						<li> Recurrent Blood Derived Cancer </li>
    						<li> Additional - New Primary </li>
    						<li> Metastatic </li>
    						<li> Additional Metastatic </li>
    					</ol>
    				 </li>
    				<li> IDs 10 - 19 indicate normal types:
    					<ol type="1" start="10">
    						<li> Blood Derived Normal </li>
    						<li> Solid Tissue Normal </li>
    						<li> Buccal Cell Normal </li>
    						<li> EBV Immortalized Normal </li>
    						<li> Bone Marrow Normal </li>
    					</ol>
    				 </li>
					<li> IDs 20 - 29 indicate control samples (20 cell line) </li>
					</ul>
					</li>
				<li> Vial identifier – Alphabetic character that represents portions of a sample 
					from an individual patient. </li>
				</ul>
				For example: The sample ID 01A represents the first vial (A) containing a sample from a solid tumor 
					(01) of a given patient.