ID of the site samples of interest are coming from. 
    			Currently there are available 6 sites (the list is subject of change):
    			<ol type="1">
    			<li> International Genomics Consortium </li>
    			<li> MD Anderson Cancer Center - Brain Bank </li>
    			<li> Lung Cancer Tissue Bank of CALGB </li>
    			<li> Gynecologic Oncology Cancer Group </li>
    			<li> National Cancer Institute </li>
    			<li> Henry Ford Hospital </li>
    			</ol>