Cancer type abbreviation (subject of change, consult 
    		<a href="http://tcga-data.nci.nih.gov/datareports/codeTablesReport.htm">http://tcga-data.nci.nih.gov/datareports/codeTablesReport.htm</a>
    			for the up-to-date information)
    			<ul>
    				<li> BLNP - Urothelial Carcinoma - Non-Papillary (NP) </li>
    				<li> BLP - Urothelial Carcinoma - Papillary (P) </li>
    				<li> BRCA - Breast invasive carcinoma </li>
    				<li> CESC - Cervical Squamous Cell Carcinoma </li> 
    				<li> COAD - Colon/Rectal adenocarcinoma </li>
    				<li> GBM -  Brain cancer (glioblastoma multiforme) </li>
    				<li> HNSC - Head and Neck squamous cell carcinoma </li>
    				<li> KIRC - Kidney renal cell carcinoma </li>
    				<li> KIRP - Kidney renal papillary cell carcinoma </li>
    				<li> LAML - Acute Myeloid Leukemia </li>
    				<li> LCLL - Chronic Lymphocytic Leukemia </li>
    				<li> LGG - Braine Lower Grade Glioma </li>
    				<li> LIHC - Liver hepatocellular carcinoma </li> 
    				<li> LNBLBC -  </li>
    				<li> LNNH - Lymphoid Neoplasm Non-Hodgkins Lymphoma </li>
    				<li> LUAD - Lung adenocarcinoma </li>
    				<li> LUSC - Lung squamous cell carcinoma </li>
    				<li> OV - Ovarian serous cystadenocarcinoma </li>
    				<li> PRAD - Prostate adenocarcinoma </li>
    				<li> READ - Rectum adenocarcinoma </li>
    				<li> SKCM - Cutaneous Melanoma </li>
    				<li> STAD - Stomach adenocarcinoma </li>
    				<li> THCA - Thyroid carcinoma </li>
    				<li> UCEC - Uterine Corpus Endometrioid Carcinoma </li>
    			</ul> 