Identifies each of the CGCCs or GSCs. Center codes are as follows (provide either center's code or its short name):
    			<table>
    				<tr>
						<td>Code</td>
    					<td>Center Name</td>
    					<td>Center Type</td>
    					<td>Display Name</td>
    					<td>Short Name</td>
    				</tr>
    				<tr>
    					<td>01</td>
    					<td>broad.mit.edu</td>
    					<td>CGCC</td>
    					<td>Broad Institute of MIT and Harvard</td>
    					<td>BI</td>
    				</tr>
    				<tr>
    					<td>02</td>
    					<td>hms.harvard.edu</td>
    					<td>CGCC</td>
    					<td>Harvard Medical School</td>
    					<td>HMS</td>
    				</tr>
    				<tr>
    					<td>03</td>
    					<td>lbl.gov</td>
    					<td>CGCC</td>
    					<td>Lawrence Berkeley National Laboratory</td>
    					<td>LBL</td>
    				</tr>
    				<tr>
    					<td>04</td>
    					<td>mskcc.org</td>
    					<td>CGCC</td>
    					<td>Memorial Sloan-Kettering Cancer Center</td>
    					<td>MSKCC</td>
    				</tr>
    				<tr>
    					<td>05</td>
    					<td>jhu-usc.edu</td>
    					<td>CGCC</td>
    					<td>Johns Hopkins / University of Southern California</td>
    					<td>JHU_USC</td>
    				</tr>
    				<tr>
    					<td>06</td>
    					<td>hudsonalpha.org</td>
    					<td>CGCC</td>
    					<td>HudsonAlpha Institute for Biotechnology</td>
    					<td>HAIB</td>
    				</tr>
    				<tr>
    					<td>07</td>
    					<td>unc.edu</td>
    					<td>CGCC</td>
    					<td>University of North Carolina</td>
    					<td>UNC</td>
    				</tr>
    				<tr>
    					<td>08</td>
    					<td>broad.mit.edu</td>
    					<td>GSC</td>
    					<td>Broad Institute of MIT and Harvard</td>
    					<td>BI</td>
    				</tr>
    				<tr>
    					<td>09</td>
    					<td>genome.wustl.edu</td>
    					<td>GSC</td>
    					<td>Washington University School of Medicine</td>
    					<td>WUSM</td>
    				</tr>
    				<tr>
    					<td>10</td>
    					<td>hgsc.bcm.edu</td>
    					<td>GSC</td>
    					<td>Baylor College of Medicine</td>
    					<td>BCM</td>
    				</tr>
    				<tr>
    					<td>11</td>
    					<td>rubicongenomics.com</td>
    					<td>COM</td>
    					<td>Rubicon Genomics</td>
    					<td>RG</td>
    				</tr>
    				<tr>
    					<td>12</td>
    					<td>hgsc.bcm.edu</td>
    					<td>CGCC</td>
    					<td>Baylor College of Medicine</td>
    					<td>BCM</td>
    				</tr>
    				<tr>
    					<td>13</td>
    					<td>bcgsc.ca</td>
    					<td>CGCC</td>
    					<td>Canada's Michael Smith Genome Sciences Centre</td>
    					<td>BCGSC</td>
    				</tr>
    				<tr>
    					<td>14</td>
    					<td>broad.mit.edu</td>
    					<td>GDAC</td>
    					<td>Broad Institute of MIT and Harvard</td>
    					<td>BI</td>
    				</tr>
    				<tr>
    					<td>15</td>
    					<td>systemsbiology.org</td>
    					<td>GDAC</td>
    					<td>Institute for Systems Biology</td>
    					<td>ISB</td>
    				</tr>
    				<tr>
    					<td>16</td>
    					<td>lbl.gov</td>
    					<td>GDAC</td>
    					<td>Lawrence Berkely National Laboratory</td>
    					<td>LBL</td>
    				</tr>
    				<tr>
    					<td>17</td>
    					<td>mskcc.org</td>
    					<td>GDAC</td>
    					<td>Memorial Sloan-Kettering Cancer Center</td>
    					<td>MSKCC</td>
    				</tr>
    				<tr>
    					<td>18</td>
    					<td>ucsc.edu</td>
    					<td>GDAC</td>
    					<td>University of California, Santa Cruz</td>
    					<td>UCSC</td>
    				</tr>
    				<tr>
    					<td>19</td>
    					<td>mdanderson.org</td>
    					<td>GDAC</td>
    					<td>MD Anderson</td>
    					<td>MD</td>
    				</tr>
    				<tr>
    					<td>20</td>
    					<td>nationwidechildrens.org</td>
    					<td>BCR</td>
    					<td>Nationwide Children's Hospital</td>
    					<td> </td>
    				</tr>
    				<tr>
    					<td>21</td>
    					<td>intgen.org</td>
    					<td>BCR</td>
    					<td>International Genomics Consortium</td>
    					<td> </td>
    				</tr>
    			</table>    				