The type of the data. The following types are currently available:
    			<ul>
    				<li> transcriptome - Expression-Genes </li>
    				<li> exon - Expression-Exon </li>
    				<li> mirna - Expression-miRNA </li>
    				<li> cna - Copy Number Results </li>
    				<li> methylation - DNA Methylation </li>
    				<li> snp - SNP </li>
    				<li> tracerel - Trace-Sample Relationship </li>
    				<li> mutations - Somatic Mutations </li>
    				<li> clin - Complete Clinical Set </li>
    				<li> slide_images - Tissue Slide Images </li>
    				<li> sr - Short-Read Relationship </li>
    				<li> bam - BAM-file Relationship </li>
    			</ul>