The type of the platform. The following platforms are currently available (subject of change, consult 
    		<a href="http://tcga-data.nci.nih.gov/datareports/codeTablesReport.htm">http://tcga-data.nci.nih.gov/datareports/codeTablesReport.htm</a>
    			for the up-to-date information): 
    			<ul>
					<li> HT_HG-U133A - Affymetrix HT Human Genome U133 Array Plate Set </li>
					<li> HuEx-1_0-st-v2 - Affymetrix Human Exon 1.0 ST Array </li>
					<li> Genome_Wide_SNP_6 - Affymetrix Genome-Wide Human SNP Array 6.0 </li>
					<li> HG-CGH-415K_G4124A - Agilent Human Genome CGH Custom Microarray 2x415K </li>
					<li> HG-CGH-244A - Agilent Human Genome CGH Microarray 244A </li>
					<li> AgilentG4502A_07_1 - Agilent 244K Custom Gene Expression G4502A-07 </li>
					<li> AgilentG4502A_07_2 - Agilent 244K Custom Gene Expression G4502A-07 </li>
					<li> AgilentG4502A_07_3 - Agilent 244K Custom Gene Expression G4502A-07 </li>
					<li> H-miRNA_8x15K - Agilent Human miRNA Microarray Rel12.0 </li>
					<li> H-miRNA_8x15K - Agilent 8 x 15K Human miRNA-specific microarray </li>
					<li> CGH-1x1M_G4447A - Agilent SurePrint G3 Human CGH Microarray Kit 1x1M </li>
					<li> Human1MDuo - Illumina Human1M-Duo BeadChip </li>
					<li> HumanMethylation27 - Illumina Infinium Human DNA Methylation 27 </li>
					<li> IlluminaDNAMethylation_oma002 - Illumina DNA Methylation OMA002 Cancer Panel I </li>
					<li> IlluminaDNAMethylation_oma003 - Illumina DNA Methylation OMA003 Cancer Panel I </li>
					<li> HumanHap550 - Illumina 550K Infinium HumanHap550 SNP Chip </li>
					<li> ABI - Applied Biosystems Sequence data </li>
					<li> IlluminaGA_mRNA_DGE - Illumina Genome Analyzer mRNA Digital Gene Expression </li>
					<li> IlluminaGA_DNASeq - Illumina Genome Analyzer DNA Sequencing </li>
					<li> clin	-	Clinical Data </li>
					<li> tissue_images	-	The images of tissues </li>
					<li> bio - Biospecimen Metadata - Complete Set
					<li> biotab - Biospecimen Metadata - Complete Set - All Samples - Tab-delimited
					<li> minbio - Biospecimen Metadata - Complete Set
					<li> minbiotab - Biospecimen Metadata - Complete Set - All Samples - Tab-delimited
				</ul>